asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
cloudinary==1.44.2
Django==6.0.4
django-bootstrap5==26.1
django-cloudinary-storage==0.3.0
django-filter==25.2
et_xmlfile==2.0.0
idna==3.17
openpyxl==3.1.5
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
