asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.4.9
cloudinary==1.45.0
Django==6.1
django-bootstrap5==26.2
django-cloudinary-storage==0.3.0
django-filter==26.1
et_xmlfile==2.0.0
idna==3.18
openpyxl==3.1.5
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
