arabic-reshaper==3.0.0
asgiref==3.6.0
beautifulsoup4==4.11.2
Django==3.2.19
django-bootstrap-v5==1.0.11
django-filter==22.1
future==0.18.3
html5lib==1.1
Pillow==9.4.0
psycopg2-binary==2.9.5
PyPDF2==3.0.1
python-bidi==0.4.2
pytz==2022.7.1
reportlab==3.6.12
six==1.16.0
soupsieve==2.4
sqlparse==0.4.4
webencodings==0.5.1
whitenoise==6.4.0
xhtml2pdf==0.2.9
