{% load tags %}
<nav aria-label="Page results navigation">
  <ul class="pagination float-end">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">&laquo;</a></li>
      <li class="page-item">
        <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
      </li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}">&raquo;</a></li>
    {% endif %}
  </ul>
  <p style="line-height:2.5">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
</nav>
