<a href="{% url "books:book_list" %}" class="btn btn-sm btn-link float-start"><i class="lni lni-angle-double-left"></i>&nbsp;Back
  to List</a>
<div class="mb-2 d-grid gap-2 d-md-flex justify-content-md-end">
  <form id="cart_clear" action="{% url "cart:cart_clear" %}" method="post">
    <input type="submit" value="Clear My List" class="btn btn-sm btn-warning float-end" onclick="return confirm(this.innerText+'Clear out selection list?');">
    {% csrf_token %}
  </form>
  <a href="{% url "cart:cart_export" %}" class="btn btn-sm btn-light">Export as CSV</a>
  <a href="#" class="btn btn-sm btn-primary" onclick="myModal.show()">Generate PDF</a>
</div>
