<a href="{% url "books:book_list" %}" class="btn btn-sm btn-link float-start"><i class="lni lni-angle-double-left"></i>&nbsp;Back
  to List</a>
<div class="mb-2 d-grid gap-2 d-md-flex justify-content-md-end">
  <form id="cart_clear" action="{% url "cart:cart_clear" %}" method="post">
    <button type="button" class="btn btn-sm btn-warning float-end"
            data-bs-toggle="modal"
            data-bs-target="#confirmClearModal">Clear My List</button>
    {% csrf_token %}
  </form>
{#  <a href="{% url "cart:cart_export" %}" class="btn btn-sm btn-light">Export as CSV</a>#}
  <a href="#" class="btn btn-sm btn-primary" onclick="myModal.show()">Generate My List</a>
</div>
